---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="grid gap-10 md:grid-cols-2 lg:gap-10">
    <div class="group cursor-pointer">
      <div
        class="overflow-hidden rounded-md bg-gray-100 transition-all hover:scale-105"
      >
        <a href="" class="relative block aspect-w-16 aspect-h-9">
          <img
            src="https://stablo.web3templates.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fcijrdavx%2Fproduction%2F05951a0ec1a6ffc54f615ab160649e92fea982d0-800x764.png%3Frect%3D0%2C0%2C800%2C468%26w%3D800%26auto%3Dformat&w=640&q=75"
            class="object-cover transition-all"
            alt=""
          />
        </a>
      </div>
      <div class="flex items-center mt-5">
        <a
          href=""
          class="inline-block text-xs font-medium tracking-wider uppercase text-blue-600"
        >
          technology
        </a>
      </div>

      <h2
        class="line-clamp-2 mt-2 font-semibold tracking-normal text-black text-lg"
      >
        <a
          href=""
          class="bg-gradient-to-r from-green-200 to-green-100 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]"
        >
          Architectural Engineering Wonders of the modern era for your
          Inspiration
        </a>
      </h2>

      <div class="mt-3 flex items-center space-x-3 text-gray-500">
        <a href="">
          <div class="flex items-center gap-3">
            <div class="relative h-7 w-7 flex-shrink-0">
              <img
                src="https://jerichobantiquete.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fabout-image-2.fab48713.jpg&w=1920&q=75"
                class="rounded-full h-full w-full object-cover"
                alt="Jericho Bantiquete"
              />
            </div>
            <span class="truncate text-sm"> Jericho P. Bantiquete</span>
            <span class="text-xs text-gray-300"> &bull;</span>
            <time class="truncate text-sm" datetime="2023-12-20T00:34:00Z"
              >December 20, 2023</time
            >
          </div>
        </a>
      </div>
    </div>

    <div class="group cursor-pointer">
      <div
        class="overflow-hidden rounded-md bg-gray-100 transition-all hover:scale-105"
      >
        <a href="" class="relative block aspect-w-16 aspect-h-9">
          <img
            src="https://stablo.web3templates.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fcijrdavx%2Fproduction%2F2fda477a7e32f813abb9a8ef425939e6a91c7973-987x1481.png%3Frect%3D0%2C279%2C987%2C607%26w%3D987%26auto%3Dformat&w=640&q=75"
            class="object-cover transition-all"
            alt=""
          />
        </a>
      </div>
      <div class="flex items-center mt-5">
        <a
          href=""
          class="inline-block text-xs font-medium tracking-wider uppercase text-violet-600"
        >
          lifestyle
        </a>
      </div>

      <h2
        class="line-clamp-2 mt-2 font-semibold tracking-normal text-black text-lg"
      >
        <a
          href=""
          class="bg-gradient-to-r from-green-200 to-green-100 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]"
        >
          5 Effective Brain Recharging Activities No One is Talking About
        </a>
      </h2>

      <div class="mt-3 flex items-center space-x-3 text-gray-500">
        <a href="">
          <div class="flex items-center gap-3">
            <div class="relative h-7 w-7 flex-shrink-0">
              <img
                src="https://stablo.web3templates.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fcijrdavx%2Fproduction%2Fcd477178ed12f28ef668adaf9fcae6b8fc351a08-4480x6415.jpg%3Frect%3D0%2C0%2C4480%2C3760%26w%3D2000%26auto%3Dformat&w=32&q=75"
                class="rounded-full h-full w-full object-cover"
                alt="Jericho Bantiquete"
              />
            </div>
            <span class="truncate text-sm">Clark Kent</span>
            <span class="text-xs text-gray-300"> &bull;</span>
            <time class="truncate text-sm" datetime="2023-12-22T00:34:00Z"
              >December 22, 2023</time
            >
          </div>
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
