<footer class="mt-10 border-t py-12 border-gray-100">
  <div class="text-center text-sm">Copyright © 2023. All rights reserved.</div>
  <div
    class="mt-1 flex justify-center gap-1 text-center text-sm text-gray-500 dark:text-gray-600"
  >
    <span>
      Design Inspired by
      <a
        href="https://stablo.web3templates.com/"
        rel="noopener"
        target="_blank"
      >
        Stablo Web3Templates
      </a>
    </span>
    <span>&middot;</span>
    <span>
      {" "}
      <a
        href="https://github.com/monciego/astrowrite"
        rel="noopener"
        target="_blank"
      >
        Github
      </a>
    </span>
  </div>
</footer>
