---
import { Image } from "astro:assets";
import logo from "../images/logo.png";

const { title = "Astrowrite" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-sans">
    <nav class="my-8">
      <div class="flex flex-wrap justify-between md:flex-nowrap md:gap-10">
        <div
          class="order-1 hidden w-full flex-col items-center justify-start md:order-none md:flex md:w-auto md:flex-1 md:flex-row md:justify-end"
        >
          <a
            href="/"
            class="px-5 py-2 text-sm font-medium text-gray-600 hover:text-blue-500"
          >
            Home
          </a>
          <a
            href="/about"
            class="px-5 py-2 text-sm font-medium text-gray-600 hover:text-blue-500"
          >
            About
          </a>
          <a
            href="/contact"
            class="px-5 py-2 text-sm font-medium text-gray-600 hover:text-blue-500"
          >
            Contact
          </a>
        </div>

        <div class="flex w-full items-center justify-between md:w-auto">
          <a href="/">
            <Image src={logo} alt="logo" />
          </a>
        </div>

        <div
          class="order-2 hidden w-full flex-col items-center justify-start md:order-none md:flex md:w-auto md:flex-1 md:flex-row"
        >
          <a
            href="/archive"
            class="px-5 py-2 text-sm font-medium text-gray-600 hover:text-blue-500"
          >
            Archive
          </a>
          <a
            href="/categories"
            class="px-5 py-2 text-sm font-medium text-gray-600 hover:text-blue-500"
          >
            Categories
          </a>
          <a
            href="Search"
            class="px-5 py-2 text-sm font-medium text-gray-600 hover:text-blue-500"
          >
            Github
          </a>
        </div>
      </div>
    </nav>

    <div class="px-8 mx-auto py-10 xl:px-24">
      <slot />
    </div>
  </body>
</html>
